In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.columns

Index(['Sub_1', 'Sub_2', 'Sub_3', 'Sub_4', 'Sum', 'course', 'school'], dtype='object')

In [4]:
# keeping the columns that are useful in recommndation system
data = data.loc[:,['Sub_1','Sub_2','Sub_3','Sum','school','course']]

In [5]:
data.head()

   Sub_1  Sub_2  Sub_3  Sum      school                             course
0      6      4      0   10  Humanities                                law
1      7      5      1   13  Humanities                                law
2      6      8      0   14  Humanities  public relations and advertising
3     13      0      1   20  Humanities  public relations and advertising
4      1      7     16   26  Humanities       media and journalism studies

In [6]:
# dealing with null values
data.isnull().sum(axis=0)

Sub_1     0
Sub_2     0
Sub_3     0
Sum       0
school    0
course    0
dtype: int64

In [7]:
# In the ‘genres’ column, replacing the ‘|’ with whitespace,
# so the genres would be considered different strings.
data['school'] = data['school'].replace('|', ' ')

In [8]:
# Now converting the ‘course’ columns values to lowercase for searching simplicity.
data['course'] = data['course'].str.lower()z

In [9]:
# all the movie_title values have a special character added to the end
# which needs to be removed
data['course'][0]

'law'

In [0]:
#data['movie_title'] = data['movie_title'].str[:-1]

In [12]:
data.to_csv('data.csv',index=False)